.nav {
  position: absolute;
  top: 50px;
  width: 350px;
  height: calc(100vh-50px);
  /* background-color: rgba(12, 84, 160, 0.9); */
  background-color: rgba(00, 00, 00, 0.8);
  outline: 1px solid rgba(255, 255, 255, 0.7); 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}