.header__button_bright {
  background-image: url('../../../../images/header/brightness_sun_icon_50x50.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}