.popup__container {
  max-width: 850px;
  position: relative;
  margin: auto;
  opacity: 1;
  /*left: calc((100wv/2) - 430px);
    top: calc((100hv/2) - 330px);*/
  transform:  translateY(-30%);
}

@media (max-width: 870px) {
  .popup__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}